@import "../../resources/globalStyles/colors.scss";
@import "../../resources/globalStyles/mediaQueries.scss";

.orange,
.blue {
  padding: 8px;
  border-radius: 15px;
  width: 180px;
  p {
    border-bottom: 0;
    margin: 0;
    padding: 0;
  }
}

.orange {
  background-color: $secondary;
  p {
    color: white;
  }
}

.orange:hover {
  opacity: 0.8;
}

.blue {
  color: $primary;
  border: 1px solid $primary;
}

.blue:hover {
  background-color: $primary;
  p {
    color: white;
  }
}
