@import "../../resources/globalStyles/colors.scss";
@import "../../resources/globalStyles/mediaQueries.scss";

.function--container {
  padding: 50px 0;
  background-color: #f2f6f9;
  .function--container--content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .banner--container {
      background-color: rgba(#52adeb, 0.2);
      display: flex;
      justify-content: center;
      width: 100%;
      border-radius: 15px;
      height: 250px;
      align-items: center;
      img {
        display: none;
      }
      .banner--left--container {
        display: flex;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        strong {
          text-align: center;
        }
        .banner--buttons--container {
          display: flex;
          gap: 10px;
        }
      }
    }
    .how--container {
      .how--container-content {
        background-color: white;
        border-radius: 15px;
      }
    }
    .function--help--container {
      .function--help--content--container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
        border-radius: 10px;
        .function--help--accordion {
          background-color: white;
          border-radius: 10px;
          padding: 10px;
          .accordion--container {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            border-bottom: 1px solid $primary;
            .accordion--container--header {
              display: flex;
              justify-content: space-between;
            }
            .accordion--container--content {
              transition: all 0.2s;
              max-height: 0;
              opacity: 0;
              visibility: hidden;
            }
            &.open {
              .accordion--container--content {
                max-height: 1000px;
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $mobile) {
  .function--container {
    .function--container--content {
      .banner--container {
        img {
          display: block;
          transform: scale(1.2);
        }
        .banner--left--container {
          align-items: baseline;
          padding: 40px;

          strong {
            text-align: start;
          }
        }
      }
      .how--container {
        .how--container-content {
        }
      }
      .function--help--container {
        .function--help--content--container {
          padding: 20px;
          .function--help--accordion {
            padding: 30px;
            .accordion--container {
              .accordion--container--header {
                p {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .function--container {
    .function--container--content {
      .banner--container {
        height: 380px;
        img {
          transform: scale(1.6);
        }
      }
      .how--container {
        .how--container-content {
        }
      }
      .function--help--container {
        .function--help--content--container {
          .function--help--accordion {
            .accordion--container {
              .accordion--container--header {
                p {
                  font-size: 30px;
                }
              }
              .accordion--container--content {
                ul {
                  li {
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
