@import "../../resources/globalStyles/colors.scss";

.logo_container {
  a {
    display: flex;
    align-items: center;
  }

  h3 {
    font-size: 30px;
  }
  .pay {
    color: $primary;
  }
  .net {
    color: $secondary;
  }
}
