@import "../../resources/globalStyles/colors.scss";
@import "../../resources/globalStyles/mediaQueries.scss";

.logo_container {
  a {
    display: flex;
    align-items: center;
  }

  h3 {
    font-size: 30px;
  }

  img {
    object-fit: contain;
  }
}

@media screen and (min-width: $tablet) {
  .logo_container {
    a {
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
