@import "../resources/globalStyles/colors.scss";

body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;
}

.margin {
  width: 92%;
  margin: auto;
}

@font-face {
  font-family: "Larsseit";
  src: url("../resources/fonts/larsseit/Larsseit-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../resources/fonts/urbanist/Urbanist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.larsseit {
  font-family: "Larsseit", sans-serif;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Larsseit", sans-serif;
  margin: 0;
  color: $primary;
}

p {
  font-family: "Urbanist", sans-serif;
  color: $primary;
}

ul {
  padding-left: 0;
}
