@import "../resources/globalStyles/colors.scss";
@import "../resources/globalStyles/mediaQueries.scss";
body {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
  background-color: transparent;
  border: 0;
}

.margin {
  width: 80%;
  margin: auto;
}

@font-face {
  font-family: "Larsseit";
  src: url("../resources/fonts/larsseit/Larsseit-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Urbanist";
  src: url("../resources/fonts/urbanist/Urbanist-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.larsseit {
  font-family: "Larsseit", sans-serif;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
}

body {
  background-color: #f2f6f9;
}

h1,
h2,
h3,
h4,
h5,
strong,
h6 {
  font-family: "Larsseit", sans-serif;
  margin: 0;
  color: $primary;
}

p {
  font-family: "Urbanist", sans-serif;
  color: $primary;
}

ul {
  padding-left: 0;
}

////sebas
.content {
  max-width: 94%;
  margin: auto;
}
.button--container {
  padding: 8px 14px;
  border: 1px solid transparent;
  transition: all 0.2s;
  text-wrap: nowrap;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  &--primary {
    background-color: $primary;
    border-color: $primary;
    color: white;
  }
  &--secondary {
    background-color: $secondary;
    color: white;
    border-color: $secondary;
  }
  &:hover {
    filter: brightness(0.9);
  }
}
.title {
  font-size: 28px;
}
.subtitle {
  font-size: 20px;
  color: $primary;
}

@media screen and (min-width: $desktop) {
  h1 {
    font-size: 120px;
  }

  p {
    font-size: 24px;
  }

  .content {
    max-width: 1500px;
    margin: auto;
  }
}

@media (max-width: $tablet) {
  .button--container {
    font-size: 16px;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 25px;
  }
}
@media (min-width: $tablet) {
  .button--container {
    font-size: 18px;
  }
  .title {
    font-size: 80px;
  }
  .subtitle {
    font-size: 40px;
  }
}
