@import "../resources/globalStyles/colors.scss";

.home_container {
  .home_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    .top_border {
      display: grid;
      grid-template-columns: 3fr 2fr;

      .subtitle {
        font-size: 30px;
        margin: 0 0 20px 0;
      }

      .fixed {
        position: relative;
        img {
          position: absolute;
          top: -80px;
          right: -35px;
        }
      }
    }
  }
  h1 {
    font-size: 30px;
  }

  .buttons {
    display: flex;
    gap: 15px;
    button {
      padding: 6px 12px;
      border-radius: 8px;
      width: 120px;
      p {
        margin: 0;
        font-size: 15px;
      }
    }
    .primary_login {
      background-color: $secondary;
      cursor: pointer;
      p {
        color: white;
      }
    }
    .secondary_contact {
      background-color: transparent;
      border: 1px solid $primary;
      color: $primary;
    }
  }
}
