@import "../resources/globalStyles/colors.scss";
@import "../resources/globalStyles/mediaQueries.scss";

.home_container {
  .home_content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;

    .top_border {
      display: grid;
      grid-template-columns: 3fr 2fr;

      .subtitle {
        margin: 0 0 20px 0;
      }

      .fixed {
        position: relative;
        img {
          position: absolute;
          top: -90px;
          right: -35px;
          height: 140px;
          width: 140px;
          object-fit: cover;
        }
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    button {
      padding: 6px 12px;
      border-radius: 8px;
      width: 250px;
      p {
        margin: 0;
      }
    }
    .primary_login {
      background-color: $secondary;
      cursor: pointer;
      p {
        color: white;
      }
    }

    .primary_login:hover {
      opacity: 0.8;
    }
    .secondary_contact {
      background-color: transparent;
      border: 1px solid $primary;
      color: $primary;
    }

    .secondary_contact:hover {
      background-color: $primary;
      p {
        color: white;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .home_container {
    .home_content {
      .top_border {
        .subtitle {
          width: 400px;
        }

        .fixed {
          img {
            top: -220px;
            width: 500px;
            height: 500px;
            object-fit: cover;
          }
        }
      }
    }

    .buttons {
      button {
        p {
        }
      }
      .primary_login {
        p {
        }
      }
      .secondary_contact {
      }
    }
  }
}
