@import "../../resources/globalStyles/colors.scss";
@import "../../resources/globalStyles/mediaQueries.scss";
.one--blog--container {
  background-color: #f2f6f9;
  .one--blog--main--container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .one--blog--hero--new {
      display: flex;
      gap: 20px;
      width: 100%;
      .one--blog--new--content--container {
        display: flex;
        flex-direction: column;
        .one--blog--new--image--container {
          display: flex;
          flex-direction: column;
          min-height: 300px;
          img {
            height: auto;
          }
        }
        .one--blog--info--container {
          display: flex;
          flex-direction: column;
          margin: 20px 0;
          gap: 30px;
          .one--blog--categories {
            display: flex;
            align-self: flex-end;
            gap: 10px;
            .one--blog--category {
              background-color: $primary;
              padding: 8px 15px;
              cursor: pointer;
              p {
                color: white;
              }
            }
          }
          .one--blog--author--info {
            display: flex;
            align-items: center;
            gap: 10px;
            .one--blog--author--avatar {
              width: 80px;
              aspect-ratio: 1/1;
              border-radius: 100%;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .one--blog--author--info {
              display: flex;
              flex-direction: column;
            }
          }
          .one--blog--title--short {
            font-size: 30px;
          }
        }
        .one--blog--new--image--caption {
          padding: 10px;
          background-color: $primary;
          p {
            color: white;
            font-size: 12px;
          }
        }
      }
      .one--blog--related--news {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 50px;
        border-left: 2px solid $primary;
        b {
          text-decoration: underline;
          font-size: 22px;
          color: $primary;
        }
        .one--blog--related--news--list {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: $tablet) {
  .one--blog--container {
    .one--blog--main--container {
      .one--blog--hero--new {
        flex-direction: column;
        .one--blog--related--news {
          padding-left: 0;
          border-left: none;
          b {
            text-align: center;
          }
          .one--blog--related--news--list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
    }
  }
}
