@import "../../resources/globalStyles/colors.scss";

.blog--card--main--container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 290px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  .blog--card--image--container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .blog--card--fav--button {
      position: absolute;
      right: 10px;
      cursor: pointer;
      top: 10px;
      background-color: white;
      width: 30px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
      svg {
        font-size: 20px;
        color: $secondary;
      }
    }
  }
  .blog--card--layout--container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
    .blog--card--header--container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .blog--card--footer--container {
      display: flex;
      justify-content: flex-end;
    }
  }
}
